<%- include('partials/head'); -%>
  <!-- Slider JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/bootstrap-slider.min.js"
    integrity="sha512-f0VlzJbcEB6KiW8ZVtL+5HWPDyW1+nJEjguZ5IVnSQkvZbwBt2RfCBY0CBO1PsMAqxxrG4Di6TfsCPP3ZRwKpA=="
    crossorigin="anonymous"></script>
  <!-- Slider CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/11.0.2/css/bootstrap-slider.css"
    integrity="sha512-SZgE3m1he0aEF3tIxxnz/3mXu/u/wlMNxQSnE0Cni9j/O8Gs+TjM9tm1NX34nRQ7GiLwUEzwuE3Wv2FLz2667w=="
    crossorigin="anonymous" />

  <body>
    <%- include('partials/nav'); -%>
      <div class="container flex flex-wrap w-full mx-auto px-2 mt-2">
        <div class="w-full mb-6 ">
          <div class="mx-2 h-full p-4 bg-indigo-200 shadow-lg">
            <h3 class="text-center text-2xl text-blue-800 font-bold ">Search</h3>
            <div class="font-thin ">
              <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magnaaliqua.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center ...">
        <div class="w-full sm:w-1/2 md:w-1/2 flex flex-col p-3">
          <div class="bg-white rounded-lg shadow-lg overflow-hidden flex-1 flex flex-col">
            <div class="p-4 flex-1 flex flex-col text-center">
              <h3 class="mb-2 text-2xl">Search Form</h3>
              <div class="mb-4 text-grey-darker flex-1">
                <form action="">
                  <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="grid-state">
                      Type of database
                    </label>
                    <div class="relative">
                      <select id="typeOfDatabase"
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
                        <option id="info">Select a database</option>
                        <option>Antibodies</option>
                        <option>Antigens</option>
                        <option>Epitopes</option>
                      </select>
                      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="mb-4" id="div_largo" hidden>
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="grid-state">
                      largo
                    </label>
                    <div class="relative">
                      <label for="ex2">Filter by sequence lenght interval:</label><br>
                      <small id="ex2CurrentSliderValLabel">The selected sequence largo range is between: <b
                          id="ex2SliderVal1">5</b> and <b id="ex2SliderVal2">150</b></small>
                      <br>
                      <input id="ex2" type="text" class="span2" value="" data-slider-min="5" data-slider-max="150"
                        data-slider-step="1" data-slider-value="[1,150]" />
                    </div>
                  </div>
                  <div class="mb-4" id="div_pfam" hidden>
                    <label class="block text-gray-700 text-sm font-bold mb-2">Dominio Pfam</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Text input">
                  </div>
                  <div class="mb-4" id="div_bgo" hidden>
                    <label class="block text-gray-700 text-sm font-bold mb-2">C贸digo BGO</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Text input">
                  </div>
                  <div class="mb-4" id="div_mgo" hidden>
                    <label class="block text-gray-700 text-sm font-bold mb-2">Codigo MGO</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Text input">
                  </div>
                  <div class="mb-4" id="div_cgo" hidden>
                    <label class="block text-gray-700 text-sm font-bold mb-2">C贸digo CGO</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Text input">
                  </div>
                  <div class="mb-4" id="div_estructura" hidden>
                    <label class="block">
                      <input class="mr-2 leading-tight" type="checkbox">
                      <span class="text-sm">Estructura relacionada?</span>
                    </label>
                  </div>
                  <div class="mb-4" id="div_uniprot" hidden>
                    <label class="block text-gray-700 text-sm font-bold mb-2">C贸digo UNIPROT</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Text input">
                  </div>
                  <div class="mb-4" id="div_pdb" hidden>
                    <label class="block text-gray-700 text-sm font-bold mb-2">C贸digo PDB</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" placeholder="Text input">
                  </div>
                  <div class="mb-4" id="div_cadena" hidden>
                    <label class="block text-gray-700 text-sm font-bold mb-2">Tipo de cadena</label>
                    <label class="inline-flex items-center">
                      <input type="radio" class="form-radio" name="accountType" value="1">
                      <span class="ml-2">Pesada</span>
                    </label>
                    <label class="inline-flex items-center ml-6">
                      <input type="radio" class="form-radio" name="accountType" value="2">
                      <span class="ml-2">Ligera</span>
                    </label>
                  </div>
                  <div class="mb-4" id="div_epitope" hidden>
                    <label class="block">
                      <input class="mr-2 leading-tight" type="checkbox">
                      <span class="text-sm">Epitope asociado?</span>
                    </label>
                  </div>
                  <div class="mb-4" id="div_tipo" hidden>
                    <label class="block text-gray-700 text-sm font-bold mb-2">Tipo</label>
                    <label class="inline-flex items-center">
                      <input type="radio" class="form-radio" name="tipo" value="lineal">
                      <span class="ml-2">Lineal</span>
                    </label>
                    <label class="inline-flex items-center ml-6">
                      <input type="radio" class="form-radio" name="tipo" value="estructural">
                      <span class="ml-2">Estructural</span>
                    </label>
                  </div>
                  <div class="mb-4" id="div_epitope_antigeno" hidden>
                    <label class="block">
                      <input class="mr-2 leading-tight" type="checkbox">
                      <span class="text-sm">ANTIGENO ASOCIADO?</span>
                    </label>
                  </div>
                  <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="button" id="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>

  <script>
    var mySlider = $("#ex2").slider({
      tooltip: 'hide',
      id: "ex2"
    });
    $("#ex2").on("change", function (slideEvt) {
      $("#ex2SliderVal1").text(slideEvt.value.newValue[0]);
      $("#ex2SliderVal2").text(slideEvt.value.newValue[1]);
    });
    $("#typeOfDatabase").change(function () {
      $("#info").remove();
      $("#div_largo").hide();
      $("#div_pfam").hide();
      $("#div_bgo").hide();
      $("#div_mgo").hide();
      $("#div_cgo").hide();
      $("#div_estructura").hide();
      $("#div_uniprot").hide();
      $("#div_pdb").hide();
      $("#div_cadena").hide();
      $("#div_epitope").hide();
      $("#div_tipo").hide();
      $("#div_epitope_antigeno").hide();
      
      if ($("#typeOfDatabase option:selected").text() == 'Antibodies') {
        $("#div_largo").show();
        $("#div_pfam").show();
        $("#div_bgo").show();
        $("#div_mgo").show();
        $("#div_cgo").show();
        $("#div_estructura").show();
        $("#div_uniprot").show();
        $("#div_pdb").show();
        $("#div_cadena").show();
      } else if ($("#typeOfDatabase option:selected").text() == 'Antigens') {
        $("#div_largo").show();
        $("#div_pfam").show();
        $("#div_bgo").show();
        $("#div_mgo").show();
        $("#div_cgo").show();
        $("#div_estructura").show();
        $("#div_uniprot").show();
        $("#div_pdb").show();
        $("#div_epitope").show();
      } else if ($("#typeOfDatabase option:selected").text() == 'Epitopes') {
        $("#div_largo").show();
        $("#div_tipo").show();
        $("#div_epitope_antigeno").show();
        
        $("#submit").click(function() {
          //envio los parametros por metodo post hacia la url
          $.ajax({
            'url': "http://localhost:5001/getSearch",
            'method': "POST",
            'data' : { 
                "submit" : 3,
                "length_min" : mySlider.slider('getValue')[0],
                "length_max" : mySlider.slider('getValue')[1],
                "type": $('input[name="tipo"]:checked').val()
              }
          }).done( function(data) {
            //recibo los parametros desde la url
            console.log(data)
          });
        });
      }
    });

  </script>
  <style>
    #ex2 .slider-selection {
      background: #0378B3;
    }

    #ex2 .slider-track-low,
    #ex2 .slider-track-high {
      background: grey;
    }
  </style>